.tittle {
    font-family: inherit;
    font-size: 2.5rem;
    span {
        color: rgb(74, 131, 255);
    }
}

.single-text {
    font-family: inherit;
    font-size: 1.1rem;
    span {
        color: rgb(74, 131, 255);
    }
}